<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<h1>All users</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>e-mail</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">ID</td>
        <td th:text="${user.getUsername()}">Name</td>
        <td th:text="${user.getEmail()}">e-mail</td>
    </tr>
    </tbody>
</table>

<br/>
<hr/>
<a href="/admin/new">Create new user</a>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>