<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<h1>All users</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>e-mail</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user :${users}">
        <td>
            <a th:href="@{/user}" th:text="${user.getId()}" target="_blank"></a>
        </td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:each="role:${user.roles}" th:text="${role.role}"/>
        <td>

        <td>
            <form th:method="GET" th:action="@{/admin/update(id=${user.id})}">
                <input type="hidden" name="id" th:value="${user.id}">
                <button style="background: moccasin" type="submit" value="Edit">Изменить</button>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/delete(id=${user.id})}">
                <input type="hidden" name="id" th:value="${user.id}">
                <button style="background: moccasin" type="submit" value="Delete">Удалить пользователя</button>
            </form>

        </td>
    </tr>
    </tbody>

</table>


<br/>
<hr/>
<a href="/admin/new">Create new user</a>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>


