<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user form</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="email">E-mail:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>


    <select name="roles" multiple>
        <option value="1">ROLE_ADMIN</option>
        <option value="2">ROLE_USER</option>
    </select>


    <input type="submit" value="Create"/>
</form>

<br/>
<a th:href="@{/logout}">Logout</a>

</body>
</html>