<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account info</title>
</head>
<body>
<h1>Account info: [[${user.getUsername()}]]</h1>
<div>
    <p>ID: <span th:text="${user.getId()}"></span></p>
    <p>Name: <span th:text="${user.getUsername()}"></span></p>
    <p>Email: <span th:text="${user.getEmail()}"></span></p>


</div>
<a th:href="@{/admin/update(id=${user.id})}">Edit user</a>

<br>
<a th:href="@{/admin/delete(id=${user.id})}">Delete user</a>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>