<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/update(id=${user.id})}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>
    <label for="email">E-mail:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>